<form [formGroup]="signUpForm" class="login-container" (ngSubmit)="signUp()">
    <p-inputGroup>
        <p-inputGroupAddon>
            <i class="pi pi-user"></i>
        </p-inputGroupAddon>
        <input  pInputText placeholder="Nom d'utilisateur" formControlName="username" />
    </p-inputGroup>
    <p-inputGroup>
        <p-inputGroupAddon>
            <i class="pi pi-key"></i>
        </p-inputGroupAddon>
        <p-password
            promptLabel="Choisir un mot de passe"
            weakLabel="Trop simple"
            mediumLabel="Moyen"
            strongLabel="Sécurisé"
            formControlName="password"/>
    </p-inputGroup>
    <p-inputGroup>
        <p-inputGroupAddon>
            <i class="pi pi-at"></i>
        </p-inputGroupAddon>
        <input  pInputText placeholder="Email" formControlName="email" />
    </p-inputGroup>
    <p-inputGroup>
        <p-inputGroupAddon>
            <i class="pi pi-comment"></i>
        </p-inputGroupAddon>
        <input  pInputText placeholder="Nom d'affichage" formControlName="displayName" />
    </p-inputGroup>


    <div *ngIf="isSubmitted" class="error-message">
        <div *ngIf="formControls['password'].errors" class="error-message">
            <div *ngIf="formControls.password.errors.required">Mot de passe obligatoire</div>
        </div>
        <div *ngIf="formControls['username'].errors" class="error-message">
            <div *ngIf="formControls['username'].errors.required">Nom d'utilisateur obligatoire</div>
        </div>
        <div *ngIf="formControls['displayName'].errors" class="error-message">
            <div *ngIf="formControls['displayName'].errors.required">Nom d'affichage obligatoire</div>
        </div>
        <div *ngIf="formControls['email'].errors" class="error-message">
            <div *ngIf="formControls['email'].errors.required">Email obligatoire</div>
            <div *ngIf="formControls['email'].errors.email">Format d'email incorrect</div>
        </div>
        <div *ngIf="errorMessage != null" class="error-message">
            <div>{{errorMessage}}</div>
        </div>
    </div>

    <p>
        <input type="submit" value="Créer un compte" class="action-button">
    </p>
</form>

<div>
    <p>Vous avez déjà un compte ?</p>
    <a routerLink="/signin" class="p-button font-bold action-button">
        Se connecter
    </a>
</div>
