<div class="layout-topbar p-megamenu-col-4">

    <button class="p-link layout-topbar-button ali">
        <i class="pi pi-user"></i>
    </button>

    <a class="layout-topbar-logo" routerLink="">
        <img src="assets/logo/logo_blanc.png" alt="logo">
    </a>

    <button class="p-link layout-topbar-button" routerLink="">
        <i class="pi pi-search"></i>
    </button>

    <button class="p-link layout-topbar-button" routerLink="">
        <i class="pi pi-bell"></i>
    </button>
</div>
