<div class="section-title">Recommendations reçues</div>
<p-carousel
    [value]="recommendations"
    [numVisible]="2"
    [numScroll]="1"
    [circular]="false"
    [showNavigators]="false"
    [showIndicators]="false"
>
    <ng-template let-recommendation pTemplate="item" [ngStyle]="{'max-width': '33%'}">
        <div class="surface-border border-round m-1 item">
            <div class="">
                <div class="relative mx-auto">
                    <img
                        src="{{ recommendation.media.posterPath }}"
                        [alt]="recommendation.media.title"
                        class="w-full border-round"
                        [routerLink]="'/media/' + recommendation.media.id"/>
                </div>
            </div>
<!--            <div class="font-l font-semibold">-->
<!--                {{ recommendation.media.title }} ({{ recommendation.media.getReleaseYear() }})-->
<!--            </div>-->
            <div class="rating">
                <span class="font-l font-semibold">{{recommendation.sentBy.displayName}} : </span>
                <span class="font-l">{{ recommendation.comment }}</span>
                <br>
                <p-rating [(ngModel)]="recommendation.rating"
                                          [cancel]="false" [readonly]="true"
                                          [stars]="Constants.MAX_RATING_STARS"
            /></div>
        </div>
    </ng-template>
</p-carousel>
